@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav ms-auto align-items-center">
    <!-- Cart Icon -->
    <li class="nav-item">
        <a class="nav-link text-light position-relative" href="/Cart/GetUserCart">
            <i class="bi bi-cart3 fs-5"></i>
            <span id="cartCount" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                0
                <span class="visually-hidden">items in cart</span>
            </span>
        </a>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        <!-- User Greeting -->
        <li class="nav-item me-3">
            <a class="nav-link text-light d-flex align-items-center" asp-area="Identity" asp-page="/Account/Manage/Index">
                <i class="bi bi-person-circle me-1"></i> Hello /<br /> <span id="username">@User.Identity?.Name</span> !
                @if (User.IsInRole("Admin"))
                {
                    <span class="badge bg-danger ms-2">Admin</span>
                }
            </a>
        </li>

        <!-- Logout -->
        <li class="nav-item me-3">
            <form class="d-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-outline-light btn-sm nav-link p-1">Logout</button>
            </form>
        </li>

    }
    else
    {
        <!-- Register -->
        <li class="nav-item me-2">
            <a class="nav-link text-light d-flex align-items-center" asp-area="Identity" asp-page="/Account/Register">
                <i class="bi bi-person-plus me-1"></i> Register
            </a>
        </li>

        <!-- Login -->
        <li class="nav-item me-2">
            <a class="nav-link text-light d-flex align-items-center" asp-area="Identity" asp-page="/Account/Login">
                <i class="bi bi-box-arrow-in-right me-1"></i> Login
            </a>
        </li>

        
    }
</ul>
